@charset "UTF-8";

/* COMMON.CSS */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* INNER CONTENT WIDTH */
.inner {
    width: 1280px;
    margin: 0 auto;
}

/* BODY FONT */
html, body {
    width: 100%;
    height: 100%;
    font-family: "Noto Sans KR", sans-serif;
}