@charset "UTF-8";

/* FONTS */
/*
*** NOTO SANS KR 100~900 ***
font-family: "Noto Sans KR", sans-serif;

*** RALEWAY ***
font-family: 'Raleway';
font-weight: 900;
font-style: italic;

*** PRODUCT SANS ***
font-family: 'Product Sans';
font-weight: bold;
font-style: normal;

font-family: 'Product Sans';
font-weight: normal;
font-style: normal;
*/

/* COLORS */
/*
rgb(90, 74, 248)
rgb(116, 96, 217)
*/

/* HEADER */
header {
    width: 100%;
    height: 80px;
    background-color: rgb(255,255,255);
    position: fixed;
    z-index: 9999;
}
header .logo {
    float: left;
    height: 60px;
    margin: 10px 0;
}
header .logo a {
    width: 100%;
    height: 100%;
    display: block;
}
header .logo a img {
    height: 100%;
}

header .menu {
    float: right;
    padding: 11px 0;
}
header .menu .gnb {
    font-family: 'Product Sans';
    font-weight: normal;
    font-style: normal;
}
.gnb > li {
    font-size: 18px;
    padding: 18px 30px;
}
.gnb > li:last-child {
    background-color: rgb(90,74,248);
    border-radius: 50px;
}
.gnb > li:last-child a {
    color: rgb(255,255,255);
}
.gnb > li a {
    color: rgb(33,33,33);
}
.gnb > li span {
    font-size: 15px;
    font-weight: bold;
}
.gnb .submenu {
    position: relative;
    top: 0;
    right: 0;
}
.gnb .submenu a {
    display: block;
    height: 100%;
}
.gnb .submenu ul {
    display: none;
    position: absolute;
    top: 110%;
    left: 5%;
}
.gnb .submenu ul li {
    text-align: center;
    float: none;
    line-height: 50px;
    background-color: rgb(255,255,255);
    padding: 0 20px;
}

/* MAIN */
main {
    width: 100%;
    /* max-width: 1920px; */
    height: 100%;
    position: relative; /* .catch, .downbtn 기준 */
    overflow: hidden;
}
.main_box {
    width: 200%;
    height: 100%;
}
.main_box .main_img {
    width: 50%;
    height: 100%;
    float: left;
}
.main_box .main_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .catch {
    position: absolute;
    top: 50%; transform: translateY(-50%);
    left: 10%;
    color: rgb(255,255,255);
    font-family: 'Product Sans';
}
main .catch h2 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
}
main .catch p {
    font-size: 18px;
    line-height: 160%;
}
main .downbtn {
    position: absolute;
    bottom: 10%;
    left: 50%; transform: translateX(-50%);
}
main .downbtn a {
    display: inline-block;
}
main .downbtn a:last-child {
    margin-left: 40px;
}
main .downbtn a img {
    border-radius: 50px;
}

/* SECTION - CONTENTS */
section.contents {}
section.contents .promo {}
section.contents .promo h3 {}
section.contents .promo .card {}
section.contents .promo .card .cardimg {}
section.contents .promo .card .desc {}

section.contents .score {}

/* MARQUEE */
/* SECTION - MEDIA */
/* FOOTER */
footer {
    width: 100%;
    color: rgb(153, 153, 153);
    text-align: center;
    font-size: 18px;
}
footer .ftrwrap {
    width: 1280px;
    padding: 40px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(153, 153, 153,0.2);
}
footer .ftrwrap .logo {
    float: left;
    width: 15%;
    margin-right: 200px;
}
footer .ftrwrap .logo img {
    height: 100%;
}
footer .ftrwrap .contracts {
    float: left;
    width: 50%;
    line-height: 100px;
}
footer .ftrwrap .contracts li {
    margin-left: 50px;
}
footer .ftrwrap .contracts li a {
    color: rgb(153, 153, 153);
    font-weight: 700;
}
footer .ftrwrap p {
    float: right;
}
footer .ftrwrap p span {
    font-weight: 700;
}
footer > p {
    margin: 40px;
}