.buttons-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  /* border-bottom: 1px solid #eee; */
}

.buttons-container .label-container {
  display: inline-block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
}

.year-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  padding: 5px 20px;
}

.prev-button,
.next-button {
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.week {
  margin: 10px 0;
}

.week.highlight {
  border-radius: 5px;
}

.weeks-wrapper.header {}

.week .day.header {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 900;
  display: none;
}

.day span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

.day.today span {
  position: relative;
  display: inline-block;
  font-size: 110%;
}

/* weekend */
.week:not(.start-on-monday) .day:first-child,
.week:not(.start-on-monday) .day:last-child {
  color: rgb(90, 74, 248);
}

/* sunday */
.week:not(.start-on-monday) .day:first-child {
  color: red;
}

/* start on monday - weekend */
.week.start-on-monday .day:nth-child(6),
.week.start-on-monday .day:last-child {
  color: orange;
}

/* start on monday - sunday */
.week.start-on-monday .day:last-child {
  color: red;
}

.day.sunday span {
  color: #ff8a80;
}

.week .day.highlight span {
  /* color: rgb(90, 74, 248); */
  font-weight: 500;
  background: url(../img/complete.png) no-repeat;
  background-size: contain;
}

.week .day.selected span {
  /* background: rgb(90, 74, 248); */
  /* color: white; */
  font-weight: 500;
  background: url(../img/complete.png) no-repeat;
  background-size: contain;
}

.week .day[disabled="disabled"] span {
  color: rgba(51,51,51,0.3);
  cursor: not-allowed;
}

.months-wrapper .month span {
  display: inline-block;
  padding: 10px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.special-buttons {
  text-align: center;
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.today-button {
  margin: 0 auto;
  background: transparent;
  border: none;
  padding: 5px;
}