@charset "UTF-8";

/* RESET */
* {
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
img {
    display: block;
}
a {
    display: block;
    color: rgb(51, 51, 51);
}

/* COMMON */
html, body {
    width: 100%;
    height: 100%;
    font-family: "Noto Sans KR", sans-serif;
    color: rgb(51, 51, 51);
    background: linear-gradient(to right bottom, #f7dfff,#ffffff,#aea6ff);
}

/* LOGIN PAGE */
/* HEADER */
header {
    width: 360px;
    height: 100%;
    /* background-color: lightblue; */
    float: left;
    padding: 120px 50px 0;
    box-sizing: border-box;
    box-shadow: 1px 0 5px rgb(255, 255, 255);
}
header .logo {
    margin-bottom: 60px;
    width: 120px;
}
header .logo a {
    width: 100%;
}
header .logo a img {
    width: 100%;
}
header .menu {}
header .menu a {
    color: rgb(51, 51, 51);
}
header .menu .gnb {}
header .menu .gnb > li {
    margin-bottom: 64px;
    padding-left: 30px;
    opacity: 0.6;
    /* transition: all 0.6s; */
}
header .menu .gnb > li:nth-child(1) {background: url(../img/graph.png) no-repeat left 14px;}
header .menu .gnb > li:nth-child(2) {background: url(../img/run.png) no-repeat left 10px;}
header .menu .gnb > li:nth-child(3) {background: url(../img/person.png) no-repeat left 14px;}
/* li.on design */
header .menu li.on {
    opacity: 1;
    position: relative;
    text-decoration: underline;
    text-decoration-color: rgba(90, 74, 248, 0.5);
    text-decoration-thickness: 16px;
    text-underline-offset: -8px;
}
header .menu li.on::after {
    content: "";
    display: block;
    width: 12px;
    height: 44px;
    background-color: rgba(90, 74, 248, 0.8);
    position: absolute;
    top: 0;
    right: -50px;
}
header .menu .gnb > li:hover {
    opacity: 1;
}
header .menu .gnb > li > a {
    font-size: 30px;
    font-weight: 700;
    width: 100%;
}
header .menu .gnb > li .sub {
    margin-top: 20px;
    display: none;
}
header .menu .gnb > li .sub li {
    margin-bottom: 10px;
    /* margin-left: -16px; */
}
header .menu .gnb > li .sub li a {
    font-size: 20px;
    font-weight: 400;
}

section {
    width: calc(100% - 360px);
    height: 100%;
    float: left;
}
section form {
    width: 50%;
    height: 80%;
    margin: 70px auto;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 100px;
}
form fieldset {
    border: 0;
    margin-bottom: 24px;
}
form legend {
    display: none;
}
form h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 32px;
}
form label {
    display: block;
    font-family: 'Product Sans';
    font-size: 16px;
    margin-left: 8px;
}
form input {
    font-family: 'Product Sans';
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    line-height: 40px;
    padding: 0 10px;
    margin: 12px auto;
}
form input::placeholder {
    font-size: 14px;
}
form input:focus {
    outline-color: rgb(90, 74, 248);
}
form input[type="email"] {}
form input[type="password"] {}
form input[type="submit"] {
    background-color: rgb(90, 74, 248);
    color: rgb(255,255,255);
    font-size: 16px;
    font-weight: 700;
    line-height: 45px;
    cursor: pointer;
    margin-bottom: 24px;
    transition: all 0.3s;
}
form button {
    width: 100%;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: rgba(90, 74, 248, 0.4);
    transition: all 0.3s;
}
form button:hover {
    background-color: rgb(90, 74, 248);
    font-weight: 700;
}
form button a {
    width: 100%;
    color: rgb(255,255,255);
}
form button.google a {
    background: url(../img/icon_google.png) no-repeat 5% center;
}
form button.naver a {
    background: url(../img/icon_naver.png) no-repeat 5% center;
}
form p {
    margin: 24px 0;
    width: 100%;
    text-align: center;
}
form p a {
    display: inline-block;
    margin: 0 16px;
    color: rgb(90, 74, 248);
    font-weight: 700;
}
section #loginform {
    /* display: none; */
}
section #joinform {
    /* display: none; */
}
#joinform fieldset:first-child::after {
    content: "or";
    display: block;
    font-size: 16px;
    width: 100%;
    text-align: center;
}