/* ttam.css */

@charset "UTF-8";

/* FONTS */
/*
*** NOTO SANS KR 100~900 ***
font-family: "Noto Sans KR", sans-serif;

*** RALEWAY ***
font-family: 'Raleway';
font-weight: 900;
font-style: italic;

*** PRODUCT SANS ***
font-family: 'Product Sans';
font-weight: bold;
font-style: normal;

font-family: 'Product Sans';
font-weight: normal;
font-style: normal;
*/

/* COLORS */
/*
rgb(90, 74, 248)
rgb(116, 96, 217)
*/

main {
    width: 100%;
    height: calc(100% - 180px);
    margin-top: 80px;
    padding-top: 100px;
}
main::after {
    content: "";
    display: block;
    clear: both;
}

main .inner {
    position: relative; /* .desc의 기준 */
}
main .desc {
    width: 35%;
    float: left;
    position: absolute;
    top: 20%;
}
main .desc .txt {}
main .desc .txt li h3 {
    font-size: 24px;
    color: rgb(204, 204, 204);
    margin-bottom: 12px;
}
main .desc .txt li h2 {
    font-size: 60px;
    font-family: 'Raleway';
    font-weight: 900;
    font-style: italic;
    margin-bottom: 20px;
    line-height: 90%;
}
main .desc .txt li p {
    font-size: 32px;
}
main .desc .pager {
    margin-bottom: 40px;
}
main .desc .pager li {
    color: #d9d9d9;
    margin-right: 16px;
    cursor: pointer;
    transition: all 0.6s;
}
main .desc .pager li.on {
    color: rgb(90, 74, 248);
}

main .slider {
    width: 660px;
    height: 660px;
    overflow: hidden;
    float: right;
    position: relative; /* .btn의 기준 */
    border-radius: 50%;
}
main .slider .btn {
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
main .slider .btn.prev {
    left: 0;
}
main .slider .btn.next {
    right: 0;
}

main .slider .slidewrap {
    width: 400%;
    height: 100%;
}
main .slider .slidewrap .slide {
    width: 25%;
    height: 100%;
    opacity: 0.3;
    transition: all 0.6s;
}
main .slider .slidewrap .slide.on {
    opacity: 1;
}
main .slider .slidewrap .slide img {
    width: 100%;
}

section {
    background: rgb(116, 96, 217) url(../img/img_05.png) no-repeat right top;
    border-radius: 400px 0 0 0;
}
section .company {
    padding: 600px 0;
    background: url(../img/runday_logo_white_r.png) no-repeat;
    background-position: -80% 100%;
    background-size: 70%;
}
section .company h4 {
    text-align: center;
    color: rgb(255,255,255);
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
}
section .company h4 span {
    font-weight: 700;
    background: url(../img/bg_bar.png) repeat-x left bottom;
    background-size: 100% 40px;
}

section .apps {
    text-align: center;
    color: rgb(255,255,255);
}
section .apps p {
    font-size: 32px;
    margin-bottom: 35px;
}
section .apps p span {
    font-weight: 700;
}
section .apps .logos {
    width: 1200px;
    margin: 0 auto 120px;
}
section .apps .logos img {
    width: 100%;
    opacity: 0;
}
section .apps .downbtn {
    width: 700px;
    height: 100px;
    margin: 0 auto 300px;
}
section .apps .downbtn a {
    width: 300px;
    float: left;
    border-radius: 100px;
    overflow: hidden;
}
section .apps .downbtn a:last-child {
    margin-left: 100px;
}
section .apps .downbtn a img {
    width: 100%;
}

section .contact {
    width: 100%;
    background: url(../img/contact_01.jpg) no-repeat top/cover;
    color: rgb(255,255,255);
}
section .contact::after {
    content: "";
    display: block;
    clear: both;
}
section .contact .title {
    width: 50%;
    padding: 220px 100px;
    box-sizing: border-box;
    float: left;
    text-align: right;
}
section .contact .title h4 {
    width: 400px;
    font-size: 64px;
    font-family: 'Raleway';
    font-weight: 900;
    font-style: italic;
    margin-bottom: 20px;
}
section .contact .title p {
    width: 400px;
    font-size: 32px;
}
section .contact ul {
    width: 50%;
    float: left;
    border-left: 1px solid rgba(255,255,255,0.2);
    box-sizing: border-box;
}
section .contact ul li {
    float: none;
    font-size: 32px;
    padding: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    transition: all 0.6s;
}
section .contact ul li:hover {
    background-color: rgba(0,0,0,0.5);
}
section .contact ul li span {
    font-size: 36px;
    font-weight: 700;
}